<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>AddOn Page</title>
</head>
<body>
    <div class="container"> <b><u> Rental Add-ons </u></b> </div><br/>
    <div class="container">
        <table>
       <tr ><th > <input type="checkbox" name="Gps" >GPS Navigation System</th>
            <td>  $10.00/day</td></tr><br/><br/>
       <tr><th ><input type="checkbox" name="Campingkit" >Camping Kit</th>
            <td> $30.00/day</td></tr><br/><br/>
        <tr><th ><input type="checkbox" name="ChildSeats" >Child Seats</th>
            <td> $2.00/day (For additional seat. 1 seat free)</td></tr><br/><br/> 
    </table>
    </div>
    <div> 
        
    </div>
</body>
</html>