<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <div class="container">
        <br>
        <div *ngFor="let car of carCat" class="box" style="padding-left:30px">

            <img src="{{car.imagepath}}" class="rounded-circle" width="400" height="200" alt="">
            <br>
            <b> <span style="color:#17a2b8;">select car </span></b>
            <input type="radio" name="car" (click)="ok($event)" value="{{car.carcategoryname}}">
            <div class="row">
                <div class="col-2"><b>Car Class</b> <br>{{car.carcategoryname}}</div>
                
                <div class="col-6">
                    <b>Base Fares</b>
                    <table>
                        <col width="50">
                        <col width="50">
                        <col width="50">
                        <tr>
                            <th><b>Daily</b></th>
                            <th><b>Weekly</b></th>
                            <th><b>Monthly</b></th>
                        </tr>
                        <tr>
                            <td>{{car.dailyrate}}</td>
                            <td>{{car.weeklyrate}}</td>
                            <td>{{car.monthlyrate}}</td>
                        </tr>
                    </table>
                    
                    
                </div>
                 <hr>
            </div>
            <br><hr>
        </div>
        <div align="center" style="padding-bottom:30px">
           <a href="/addOn"> <button type="button" class="btn btn-outline-primary" >Continue</button></a>
        </div>
    </div>


</body>

</html>