 <!--Footer-->
 <footer class="section footer-classic context-dark bg-image" style="background: #2d3246;">
    <div class="container">
      <div class="row row-30">
        <div class="col-md-4 col-xl-5">
          <div class="pr-xl-4">
            <br>
            <p>We Best in the market for providing Car Rental Services.</p>
            <!-- Rights-->
            <p class="rights"><span>©  </span><span class="copyright-year"> 2020</span><span> </span><span> Indian Drive</span><span>. </span><span>All Rights Reserved.</span></p>
          </div>
        </div>
        <div class="col-md-4">
          <br>
          <h5>Contacts</h5>
          <dl class="contact-list">
            <dt>Headquater:</dt>
            <dd>4th Lane,Ion Park,Mumbai,Maharashtra.</dd>
          </dl>
          <dl class="contact-list">
            <dt>E-mail:</dt>
            <dd><a href="mailto:#">contact@indiadrive.com</a></dd>
          </dl>
          <dl class="contact-list">
            <dt>Phones:</dt>
            <dd><a href="tel:#">1-800-DRIVE</a>
            </dd>
          </dl>
        </div>
        <div class="col-md-4 col-xl-3">
          <br>
          <h5>Links</h5>
          <ul class="student-list">
            <li><a href="#">About Us</a></li>
            <li><a href="#">Affiliated Hotels</a></li>
            <li><a href="#">Weather</a></li>
            <li><a href="#">Contact Us</a></li>
            <li><a href="#">Site Map</a></li>
            <li><a href="#">Career</a></li>   
          </ul>
        </div>
      </div>
    </div>
    <div class="row no-gutters social-container">
      <div class="col"><a class="social-inner" href="#" target="_blank"><span class="fa fa-facebook"></span></a></div>
      <div class="col"><a class="social-inner" href="#" target="_blank"><span class="fa fa-instagram"></span></a></div>
      <div class="col"><a class="social-inner" href="#" target="_blank"><span class="fa fa-google-plus"></span></a></div>
      <div class="col"><a class="social-inner" href="#" target="_blank"><span class="fa fa-linkedin"></span></a></div>
    </div>
  </footer>