<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <form>
        <div class="container">
            <div class="row">

                <div class="col-6">
                    <br>
                    First Name
                    <input type="text" class="form-control">    
                </div>
                <div class="col-6">
                    <br>
                    Last Name
                    <input type="text" class="form-control">
                 
                </div>
            </div>
            <div class="col-8">
                <br>
                Address
                <textarea class="form-control rounded-0" rows="3"></textarea>

            </div>
            <div class="row">
                <div class="col-6">

                    <br>
                    Email
                    <input type="text" class="form-control">
                    <br>
                    Passport No.
                    <input type="text" class="form-control">
                    <br>
                    Birth date
                    <input type="text" placeholder="DD/MM/YYYY" class="form-control" bsDatepicker>
                    <br>
                    Contact Number
                    <input type="text" class="form-control">
                </div>
                <div class="col-6"> 
                    <br>
                    City
                    <input type="text" class="form-control">
                    <br>
                    Zip
                    <input type="text" class="form-control">
                    <br>
                    Driving Licence
                    <input type="text" class="form-control">
                </div>
            </div>

            <div style="padding-left: 250px;">
                <br>
                <div class="row">
                    <div style="padding-right: 10px;">
                        <button type="button" class="btn btn-outline-primary"
                            style="padding:0px 80px 0px 80px">Confirm</button>
                    </div>
                    <div style="padding-left: 10px;">
                        <button type="button" class="btn btn-outline-primary"
                            style="padding:0px 80px 0px 80px">Modify</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <br>
</body>

</html>