<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HandOver Page</title>
</head>
<body>
    <div align="center">
    <h4 style="color:#17a2b8;"><u> HandOver</u></h4><br/>
    </div>
    <div style="padding-left: 500px;">
        <div class="row">
            <div style="padding-right: 10px;">
                <input type="text" placeholder="Booking Id" id="bookingid"
                formControlName="aadharno" class="form-control" (click)="onClick($event)" >
            </div>
            <div style="padding-left: 10px;">
                <a routerLink="/billing"><input type="button" class="btn btn-outline-primary" 
                    value="Search"></a><br><br>
            </div> 
        </div>
    </div>

</body>
</html>