<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Customer Information</title>
</head>

<body>
    <br><br>
    <div class="container">
        <form>
            <div class="row">
                <div class="col-4">
                    <div class="row">
                        <div class="col-3">
                            <p>User Id</p>
                        </div>
                        <div class='col-5'>
                            <input type="text" placeholder="User Id" class="form-control">
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-3">
                            <p>Password</p>
                        </div>
                        <div class='col-5'>
                            <input type="text" placeholder="Password" class="form-control">
                        </div>
                   
                    </div>
                    <div align='center' >
                        <br>
                        <button type="button" class="btn btn-outline-primary">Login</button>
                    </div>
                </div>
                <div class="col-8">
                    <div class="row">
                        <div class="col-3">
                            <p>Renter's Name</p>
                        </div>
                        <div class='col-5'>
                            <input type="text" placeholder="Name" class="form-control">
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-3">
                            <p>Renter's Address</p>
                        </div>
                        <div class='col-5'>
                            <input type="text" placeholder="Renter's Adderss" class="form-control">
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-3">
                            <p>Renter's Email</p>
                        </div>
                        <div class='col-5'>
                            <input type="text" placeholder="Renter's Email" class="form-control">
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-3">
                            <p>City</p>
                        </div>
                        <div class="col-5">
                            <input type="text" placeholder="City" class="form-control">
                        </div>

                    </div>
                    <br>
                    <div class="row">
                        <div class="col-3">
                            <p>Cell</p>
                        </div>
                        <div class="col-5">
                            <input type="text" placeholder="Cell" class="form-control">
                        </div>

                    </div>
                    <br>
                    <div class="row">
                        <div class="col-3">
                            <p>Driving Lic</p>
                        </div>
                        <div class="col-5">
                            <input type="text" placeholder="Driving Lis." class="form-control">
                        </div>

                    </div>
                    <br>
                    <div class="row">
                        <div class="col-3">
                            <p>Passport No.</p>
                        </div>
                        <div class="col-5">
                            <input type="text" placeholder="Passport" class="form-control">
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-3">
                            <p>DOB</p>
                        </div>
                        <div class="col-5">
                            <input type="text" placeholder="Date of Birth" class="form-control">
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-6">
                            <button type="button" class="btn btn-outline-primary">Continue Booking</button>
                        </div>
                        <div class="col-6">
                            <button type="button" class="btn btn-outline-primary">Cancel</button>
                    </div>
                    <br>

                    </div>


                
                </div>
            </div>
            <br>
        </form>
    </div>
</body>

</html>