<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home Page</title>


</head>

<body>
    <div class="container">
        <form >
            <br>
            <div class="row">
               
                <div  class="col-8 box">
                    <h4 style="color:#17a2b8;"><u>Make Reservation</u></h4>
                    <div class="row">
                        <div class="col-4" >
                            <p>Rental Date & Time</p>
                            <input type="text" placeholder="DD/MM/YYYY" class="form-control" bsDatepicker>
                            <!-- <timepicker [(ngModel)]="rental" name="RentalDate"></timepicker> -->
                            
                        </div>
                        <div class="col-4">
                            <p>Return Date & Time</p>
                            <input type="text" placeholder="DD/MM/YYYY" class="form-control" bsDatepicker>
                            <!-- <timepicker [(ngModel)]="return" name="ReturnDate"></timepicker> -->
                           
                        </div>
                    </div>

                    <!-- ............-->

                    <br>
                    <h6>Pick-up Location</h6>
                    <div class="row">
                        <div class="col-3">
                            <p>Enter Airport Code</p>
                        </div>
                        <div class="col-3">
                            <input type="text" name="AirportCodeRental" class="form-control">
                        </div>
                        <div >
                            <a routerLink="/selectLocation"><button type="button" class="btn btn-outline-primary">Find Airport</button></a>
                        </div>
                    </div>
                    <!-- ..................... -->

                    <div>
                        <h4>Or</h4>
                    </div>
                    <div class="row">

                        <div class="col-3">
                            Enter State
                            <select name="" class="form-control" (change)="onState($event)">
                                <option *ngFor="let state of states" [value]="state.stateid">{{state.statename}}</option>
                            </select>
                        </div>
                         <div class="col-3">
                            City <br>
                            <select name="" class="form-control" id="">
                                <option *ngFor="let city of dispCity">{{city.cityname}}</option>
                                <!-- <option *ngFor="let city of states">{{city.cityname}}</option> -->

                            </select>
                        </div>
                        <div class="col-2">
                            <br>
                            <a routerLink="/selectLocation"><button type="button" class="btn btn-outline-primary">Search</button></a>
                        </div>
                    </div>
                    <br>
                    <div style="padding-left:50px;">
                        <input type="checkbox" (change)="isChecked =! isChecked" class="form-check-input"
                            [checked]=false> I may return the car to different location
                    </div>

                    <br>
                    <div *ngIf="isChecked">
                        <h6>Return Location</h6>
                        <div class="row">
                            <div class="col-3">
                                <p>Enter Airport Code</p>
                            </div>
                            <div class="col-3">
                                <input type="text" name="AirportCodeReturn" class="form-control">
                            </div>
                            <div >
                                <a routerLink="/selectLocation"><button type="button" class="btn btn-outline-primary">Find Airport</button></a>
                            </div>
                        </div>
                        <!-- ..................... -->
                        <br>
                        <div>
                            <h4>Or</h4>
                        </div>
                        <div class="row">

                            <div class="col-3">
                                Enter State
                                <select name="" class="form-control" id="">
                                    <option *ngFor="let state of states">{{state.statename}}</option>
                                </select>
                            </div>
                            <div class="col-3">
                                City <br>
                                <select name="" class="form-control" id="">
                                    <option *ngFor="let city of states[1].cities">{{city.cityname}}</option>
                                </select>
                            </div>
                            <div class="col-2">
                                <br>
                                <a routerLink="/selectLocation"><button type="button" class="btn btn-outline-primary">Search</button></a>
                            </div>
                        </div>
                    </div>
                    <!-- ....................... -->
                    <br>
                    <div align="center" style="padding-bottom:30px">
                        <button type="button" class="btn btn-outline-primary">Continue Booking</button>
                    </div>
                </div>
               
            </div>
            <br>
        </form>
    </div>
</body>

</html>