<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home Page</title>


</head>

<body>
    <div class="container">
        <form >
            <div class="row">
                <div class="col-8">
                    <h4 style="color:#17a2b8;"><u>Make Reservation</u></h4>
                    <div class="row">
                        <div class="col-4">
                            <p>Rental Date & Time</p>
                            <input type="text" placeholder="Select Rental Date" class="form-control" bsDatepicker>
                            
                            <pre class="alert alert-info">Time is: {{rental}}</pre>
                        </div>
                        <div class="col-4">
                            <p>Return Date & Time</p>
                            <input type="text" placeholder="Select Return Date" class="form-control" bsDatepicker>
                            <timepicker [(ngModel)]="return" name="ReturnDate"></timepicker>
                            <pre class="alert alert-info">Time is: {{return}}</pre>
                        </div>
                    </div>

                    <!-- ............-->

                    <br>
                    <h6>Pick-up Location</h6>
                    <div class="row">
                        <div class="col-3">
                            <p>Enter Airport Code</p>
                        </div>
                        <div class="col-3">
                            <input type="text" name="AirportCodeRental" class="form-control">
                        </div>
                        <div >
                            <button type="button" class="btn btn-outline-primary">Find Airport</button>
                        </div>
                    </div>
                    <!-- ..................... -->

                    <div>
                        <h4>Or</h4>
                    </div>
                    <div class="row">

                        <div class="col-3">
                            Enter State
                            <input type="text" name="RentalState" class="form-control">
                        </div>
                        <div class="col-3">
                            City <br>
                            <input type="text" name="RentalCity" class="form-control">
                        </div>
                        <div class="col-2">
                            <br>
                            <button type="button" class="btn btn-outline-primary">Search</button>
                        </div>
                    </div>
                    <br>
                    <div style="padding-left:50px;">
                        <input type="checkbox" (change)="isChecked =! isChecked" class="form-check-input"
                            [checked]=false> I may return the car to different location
                    </div>

                    <br>
                    <div *ngIf="isChecked">
                        <h6>Return Location</h6>
                        <div class="row">
                            <div class="col-3">
                                <p>Enter Airport Code</p>
                            </div>
                            <div class="col-3">
                                <input type="text" name="AirportCodeReturn" class="form-control">
                            </div>
                            <div >
                                <button type="button" class="btn btn-outline-primary">Find Airport</button>
                            </div>
                        </div>
                        <!-- ..................... -->
                        <br>
                        <div>
                            <h4>Or</h4>
                        </div>
                        <div class="row">

                            <div class="col-3">
                                Enter State
                                <input type="text" name="ReturnState" class="form-control">
                            </div>
                            <div class="col-3">
                                City <br>
                                <input type="text" name="ReturnCity" class="form-control">
                            </div>
                            <div class="col-2">
                                <br>
                                <button type="button" class="btn btn-outline-primary">Search</button>
                            </div>
                        </div>
                    </div>
                    <!-- ....................... -->
                    <br>
                    <div align="center" style="padding-bottom:30px">
                        <button type="button" class="btn btn-outline-primary">Continue Booking</button>
                    </div>
                </div>
                <div class="col-6">

                </div>
            </div>
        </form>
    </div>
</body>

</html>