<!--Header Code, Paste selector to implement-->

<nav class="navbar navbar-dark bg-light">
    <div class="container-fluid">
        <div class="navbad-header ">
            
            <div class="row">
                
                <div >
                    <img src="./assets/img/Logomaker-Cars-2020119.jpg" alt="" height="100" width="250">
                </div>
                <div>
                    <h6 style="padding-left:600px;color:#17a2b8;">Book On Line or Call 1-800-DRIVE</h6>
                </div>
            
            </div>

        </div>

        <div class="container-fluid" style="padding-top:20px;">
            <a routerLink="/homePage"><button style="margin-right:20px" type="button"
                    class="btn btn-outline-info">Home</button></a>
            <a routerLink="/confirmPage"><button style="margin-right:20px" type="button"
                    class="btn btn-outline-info">Modify/Cancel Booking</button></a>
            <a routerLink="/membershipRegistration"><button style="margin-right:20px" type="button"
                    class="btn btn-outline-info">Membership Registration</button></a>
            <a routerLink="/signup"><button style="margin-right:20px" type="button" class="btn btn-outline-info">About
                    India Drive</button></a>
            <a routerLink="/testing"><button style="margin-right:20px" type="button"
                    class="btn btn-outline-info">Employee Login</button></a>
                    <a>
                        <button *ngIf="isLogin" style="margin-right:20px" type="button"
                        (click)="OnClick('logout')" class="btn btn-outline-info">Logout</button>
                        <button *ngIf="!isLogin" style="margin-right:20px" type="button"
                               (click)="OnClick('login')" class="btn btn-outline-info">Login</button>
                            </a>
        </div>
    </div>
</nav>