<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SelectLocation Page</title>
</head>
<body>
    <h4 style="color:#17a2b8;"><u>Location Selection </u></h4><br/>
    <h5>Select a Pick-up/Return location.</h5>
    <tr *ngFor="let hub of states[0].cities[1].hubs">
        <td>{{hub.hubaddress}}</td>

    </tr>

    

    <div style="padding-left: 500px;">
        <br>
        <div class="row">
            <div style="padding-right: 10px;">
                <button type="button" class="btn btn-outline-primary">Continue Booking</button>
            </div>
            <div style="padding-left: 10px;">
                <button type="button" class="btn btn-outline-primary">Cancel</button>
            </div>
        </div>
    </div>
    
</body>
</html>