<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <div class="row bcimage" style="padding-top: 200px;">
        <div class="col-6">
            <div align="center" style="padding-bottom:30px">
                <a href="/handOver"><button type="button" class="btn btn-primary" > Handover</button></a>
            </div>
        </div>
        <div class="col-6">
            <div align="center" style="padding-bottom:30px">
                <button type="button" class="btn btn-primary" (click)="setValues($event)">Return</button>
            </div>
        </div>
        
    </div>
</body>

</html>